<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>CustomerFilter</filter-name>
        <filter-class>filter.customer.AuthenticateCustomer</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filter.employee.AuthenticateAdmin</filter-class>
    </filter>
    <filter>
        <filter-name>ManagerFilter</filter-name>
        <filter-class>filter.employee.AuthenticateManager</filter-class>
    </filter>
    <filter>
        <filter-name>StaffFilter</filter-name>
        <filter-class>filter.employee.FilterStaff</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <servlet-name>ShoppingHistory</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <servlet-name>Payment</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <servlet-name>Profile</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <servlet-name>Order</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CustomerFilter</filter-name>
        <servlet-name>Checkout</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ManageAccount</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>Viewstatictic</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ManagerFilter</filter-name>
        <servlet-name>ManageFeedback</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ManagerFilter</filter-name>
        <servlet-name>addEmployee</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <servlet-name>EmployeeProfile</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <servlet-name>EditStoreInfo</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <servlet-name>ManageSerialNumber</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <servlet-name>ManageNewsCategory</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <servlet-name>AddDiscount</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <servlet-name>AddNews</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <servlet-name>ManageCategory</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <servlet-name>ManageOrders</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <servlet-name>UpdateWarranty</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <servlet-name>EmployeeDashboard</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <servlet-name>ManageBrand</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <servlet-name>ManageProducts</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <servlet-name>ManageDiscount</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <servlet-name>ManageWarranty</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <servlet-name>ManageNews</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>StaffFilter</filter-name>
        <servlet-name>ManageCompanyInfor</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Guest.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductsList</servlet-name>
        <servlet-class>controller.Guest.ProductsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Carts</servlet-name>
        <servlet-class>controller.Customers.Carts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Account.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>controller.Account.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerDashboard</servlet-name>
        <servlet-class>controller.Manager.ManagerDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCompanyInfor</servlet-name>
        <servlet-class>controller.Manager.ManageCompanyInfor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewWanrranty</servlet-name>
        <servlet-class>controller.Manager.ViewWanrranty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageNews</servlet-name>
        <servlet-class>controller.Staff.ManageNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageAccount</servlet-name>
        <servlet-class>controller.Admin.ManageAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProducts</servlet-name>
        <servlet-class>controller.Manager.AddProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingHistory</servlet-name>
        <servlet-class>controller.Customers.ShoppingHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment</servlet-name>
        <servlet-class>controller.Customers.Payment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageWarranty</servlet-name>
        <servlet-class>controller.Staff.ManageWarranty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>News</servlet-name>
        <servlet-class>controller.Guest.News</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>controller.Account.VerifyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controller.Customers.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageFeedback</servlet-name>
        <servlet-class>controller.Manager.ManageFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDiscount</servlet-name>
        <servlet-class>controller.Staff.ManageDiscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProducts</servlet-name>
        <servlet-class>controller.Staff.ManageProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>controller.Customers.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.Customers.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addEmployee</servlet-name>
        <servlet-class>controller.Admin.addEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageBrand</servlet-name>
        <servlet-class>controller.Staff.ManageBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeDashboard</servlet-name>
        <servlet-class>controller.Staff.Dashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestWarranty</servlet-name>
        <servlet-class>controller.Customers.RequestWarranty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewstatictic</servlet-name>
        <servlet-class>controller.Admin.AdminDashboard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>payroll.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Thankyou</servlet-name>
        <servlet-class>controller.Customers.Thankyou</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrders</servlet-name>
        <servlet-class>controller.Staff.ManageOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateWarranty</servlet-name>
        <servlet-class>controller.Staff.UpdateWarranty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCategory</servlet-name>
        <servlet-class>controller.Staff.ManageCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>controller.Customers.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>controller.Customers.Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>controller.Customers.Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNews</servlet-name>
        <servlet-class>controller.Staff.AddNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDiscount</servlet-name>
        <servlet-class>controller.Staff.AddDiscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetail</servlet-name>
        <servlet-class>controller.Customers.OrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageNewsCategory</servlet-name>
        <servlet-class>controller.Staff.ManageNewsCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>controller.Account.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSerialNumber</servlet-name>
        <servlet-class>controller.Staff.ManageSerialNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetails</servlet-name>
        <servlet-class>controller.Guest.ProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeProfile</servlet-name>
        <servlet-class>controller.Staff.EmployeeProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStoreInfo</servlet-name>
        <servlet-class>controller.Staff.EditStoreInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductsList</servlet-name>
        <url-pattern>/productslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Carts</servlet-name>
        <url-pattern>/carts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCompanyInfor</servlet-name>
        <url-pattern>/managecompanyinfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerDashboard</servlet-name>
        <url-pattern>/managersdashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageAccount</servlet-name>
        <url-pattern>/manageaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewWanrranty</servlet-name>
        <url-pattern>/viewwarranty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProducts</servlet-name>
        <url-pattern>/addproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingHistory</servlet-name>
        <url-pattern>/shoppinghistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageWarranty</servlet-name>
        <url-pattern>/managewarranty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>News</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/verifycode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageFeedback</servlet-name>
        <url-pattern>/managefeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDiscount</servlet-name>
        <url-pattern>/managediscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProducts</servlet-name>
        <url-pattern>/manageproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/updatecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addEmployee</servlet-name>
        <url-pattern>/addemployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageBrand</servlet-name>
        <url-pattern>/managebrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestWarranty</servlet-name>
        <url-pattern>/requestwarranty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/ajaxservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewstatictic</servlet-name>
        <url-pattern>/viewstatistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeDashboard</servlet-name>
        <url-pattern>/employeehome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Thankyou</servlet-name>
        <url-pattern>/thankyou</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrders</servlet-name>
        <url-pattern>/manageorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateWarranty</servlet-name>
        <url-pattern>/updatewarranty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCategory</servlet-name>
        <url-pattern>/managecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/orderstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageNews</servlet-name>
        <url-pattern>/managenews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNews</servlet-name>
        <url-pattern>/addnews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDiscount</servlet-name>
        <url-pattern>/discount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetail</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageNewsCategory</servlet-name>
        <url-pattern>/managenewscategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetails</servlet-name>
        <url-pattern>/productdetails/*</url-pattern>
        <url-pattern>/productdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSerialNumber</servlet-name>
        <url-pattern>/manageserialnumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeProfile</servlet-name>
        <url-pattern>/employeeprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStoreInfo</servlet-name>
        <url-pattern>/editstoreinfo</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
